anyio==3.6.2
asgiref==3.4.1
chardet==3.0.4
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
dbus-python==1.2.4
decorator==4.2.1
ethtool==0.14
fastapi==0.83.0
gpg==1.13.1
h11==0.13.0
idna==2.5
immutables==0.19
importlib-metadata==4.8.3
iniparse==0.4
libcomps==0.1.18
pydantic==1.9.2
pygobject==3.28.3
pyinotify==0.9.6
PySocks==1.6.8
python-dateutil==2.6.1
python-dmidecode==3.12.2
requests==2.20.0
rpm==4.14.3
six==1.11.0
sniffio==1.2.0
starlette==0.19.1
subscription-manager==1.28.32
syspurpose==1.28.32
typing-extensions==4.1.1
urllib3==1.24.2
uvicorn==0.16.0
zipp==3.6.0
